/.git
/jars/BetterVariantsProject/.idea/*
/jars/BetterVariantsProject/.gradle/*
/jars/BetterVariantsProject/gradle/*
/jars/BetterVariantsProject/build/*
/jars/BetterVariantsProject/local.properties
TODO.txt
